body{
  background: linear-gradient(165deg, #0047AB, #adcfff);
  background-repeat: no-repeat;
  background-size: auto;
}
.add_display{
  display: block !important;
}
.success {
	background: url(img/success.png) no-repeat 0 50%;
	padding: 0.5em 0.5em 0.5em 40px;
	color: #393;
}
.msg {
  display: none;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1em;
	width: 200px;
}
.errmsg{
  display: none;
  background-color: #ffc2c2;
  border: 2px solid #ff3333;
  /*border-radius: 5px;*/
  margin: 3px;
  padding: 3px;
}
.fix-fa{
  float: right !important;
  color: red !important;
  font-size: 20px;
  padding-top: 2px;
}
.mod_form{
  border: none !important;
}
.succ-reg-msg{
  display: none;
  width: auto;
  margin-top: 10px;
  background-color: #70ff70;
  border: 3px solid green;
  padding: 7px;
  border-radius: 5px 0 0 5px;
  position: relative;
  z-index: 9999;
  float:right;
}
.err-reg-cmsg{
  display: none;
  width: auto;
  margin-top: 10px;
  background-color: #ff8585;
  border: 3px solid red;
  padding: 7px;
  border-radius: 5px 0 0 5px;
  position: relative;
  z-index: 9999;
  float:right;
}
.reg-fa{
  width: auto;
  height: auto;
  margin: 3px;
}
