body{
  background: linear-gradient(165deg, #0047AB, #adcfff);
  background-repeat: no-repeat;
  background-size: auto;
}
.add_display{
  display: block !important;
}
.success {
	background: url(img/success.png) no-repeat 0 50%;
	padding: 0.5em 0.5em 0.5em 40px;
	color: #393;
}
.error {
	background: url(img/error.png) no-repeat 0 50%;
	padding: 0.5em 0.5em 0.5em 40px;
	color: #c30;
}
.message {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1em;
	width: 200px;
}
