.formSearchPannel{
  margini-top: -10px !important;
}
.nascondi{
  display: none !important;
}
.mostra{
  display: block !important;
}
.title_tabella{
  font-size: 40px !important;
  color: rgb(20, 10, 17) !important;
  margin-bottom: 10px !important;
}
