@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rock+3D&display=swap');

body {
  background: linear-gradient(to bottom right, #0047AB, #adcfff);
}
.copyright{
	padding-left: 5%;
}
.menuFooter{
	padding-right: 5%;
}
#logoFooter{
	width: 12%;
	height: 12%;
}
.persone{
	background-color: white !important;
	border-radius: 6px;
	height: 400px;
  width: 50%;
	margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}

.persone h1{
  font-family: 'Rock 3D', cursive !important;
  font-weight: bold;
  text-align: center;
}

.persone p{
  padding-top: 15px !important;
  padding: 7px;
}

.section1{
  height: 200px;
  background-color: white ;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 50%;
}

#s1{
  border-radius: 7px 7px 0 7px;
}
#s2{
  border-radius: 7px 7px 7px 0;
}
/*
.persone:hover{
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 30px auto 40 30px;
  transition: margin 0.7s linear, box-shadow 0.7s linear;
}*/
